* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: whitesmoke;
    font-family: Arial, sans-serif;
    z-index: 10;

}

.background {
    display: block;
    height: 100vh;
    width: 100vw;
    background: url(/static/media/bg.png);
    background-size: cover;
    z-index: -100;
    background-position: bottom;
}
.lamp{
    position: absolute;
    top: 0;
    left: 40%;
    z-index: 5;
}
/* .bg{
    position: absolute;
    z-index: -100;
    width: 100vw;
    height: 100vh;
} */
.container {
    height: 83vh;
    width: 100vw;
    display: block;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 2rem 2rem 0;
    width: 100vw;
    height: 170px;
    overflow: hidden;
}

.logo {
    margin-top: 20px;
}


.nav-content-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}




.neon-border {
    margin: 50px;
    position: relative;
    display: inline-block;
    padding: 10px;
    /* background-color: black; */
}

.neon-border p {
    text-align: center;
    color: white;
    font-size: 35px;
    /* min-width: 120px; */
}

.neon-border::after {
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    border-radius: 15px;
    box-shadow: 0 0 10px 5px white;

}

.date-time {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    width: 30vw;
}

.line {
    width: 5px;
    height: 500px;
    margin: 10px 0px;
}

.text{
    font-size: 20px;
    margin: 30px;
    text-align: center;
    font-weight: 900;
}

.text .time{
    font-size: 40px;
}
.text .greg{
    font-size: 18px;
}


.line2{
    display: inline-block;
    width: 200px;
    height: 2px;
    background-color: #fff;
    margin: 10px -10px;
}

.line-with-squares{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

  .line-with-squares::before,
  .line-with-squares::after {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: rgb(255, 255, 255);
    margin: 0 5px;
  }




.neongreen {
    
    background-color: #29FF70;
    box-shadow: 0 0 20px 5px #29FF70;

}

.neonblue {
    background-color: #13FFF6;
    box-shadow: 0 0 20px 3px #13FFF6;

}


.content {
    display: flex;
    justify-content: space-between;
}

.right{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 200%;
    /* background-color: #00bfff; */
}

.misc {
    display: flex;
    justify-content: space-between;
    /* background-color: aliceblue; */
    /* height: calc(60vh - 180px); */
    height: 300%;
    align-items: center;



}

.notice-board , .end-time{
    width: 100%;
    height: 100px;
    display: block;
}

.notice-board {
    position: relative;
    display: block;
    /* background-color: brown; */
    width: 150%;
    font-weight: 700;
    height: fit-content;
    /* background: url(/static/media/day.png); */
    /* height: calc(83vh - 180px); */
    background-size: contain;
    background-repeat: no-repeat;


    
  position: relative;
  text-align: center;
  color: white;
}

.notice{
    position: absolute;
    width: 75%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background-color: #00ff0050; */
    font-size: 20px;
}




.end-time{
    position: relative;
    display: block;
    /* background-color: brown; */
    width: 100%;
    height: fit-content;
    /* background: url(/static/media/day.png); */
    /* height: calc(83vh - 180px); */
    background-size: contain;
    background-repeat: no-repeat;


    
  position: relative;
  text-align: center;
  color: white;

}
.note{
    position: absolute;
    width: 75%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
}

.note span{
    font-size: 30px;
    font-weight: bold;
    color: #00ff00;
}


.prayer-timing{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* background-color: #00ff0050; */
    height: 35%;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.prayer-time{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20%;
    /* min-width: 200px; */
    height: 100%;
    border-radius: 20%;
    background-color: #173732;
    border: #fff 2px solid;
    margin: 10px;
    box-shadow: #fff 0px 0px 5px 0px;
    font-size: 30px;
    
  text-align: justify;
  text-justify: inter-word;
}

.prayer-time span{
    font-size: 35px;
}
.prayer-time p{
    font-size: 30px;
    margin: 0;
    padding: 5px;
}

.prayer-timing .active{
    background: linear-gradient( to right, black, #a07030);
    box-shadow: #00ff00 0px 0px 5px 0px;
}
.prayer-timing .active .iqamah{
    color: #ff0000;
}

.iqamah{
    font-weight: bold; 
}

.adhan-time {
    font-weight: bold;
}

.hadith-of-day {
    position: relative;
    display: block;
    /* background-color: brown; */
    width: 95%;
    height: 100%;
    /* background: url(/static/media/day.png); */
    /* height: calc(83vh - 180px); */
    background-size: contain;
    background-repeat: no-repeat;


    
  position: relative;
  text-align: center;
  color: white;

    /* padding: 20px;
    padding-top: 150px; */
}

/* img.hadith{position: absolute;
        height: 95%;
        width: 95%;
        display: block;
        z-index: 3;
    } */


.haditha {

    display: block;
    /* background-color: rgba(0, 0, 0, 0.298);  */
    padding: 20px 0px 20px 20px;
    font-size: 20px;
    width: 80%;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
    
}

.hadith-of-day p {
    padding: 10px;
    
}
.hadith_heading{
    color: #d1ae6c;
    font-size: 35px ;
    font-weight: 600;
    height: 60px;
}
#hadith{
    text-align: justify;
    text-justify: inter-word;
}

@media only screen and (min-width: 2560px) {
    .hadith_heading{
        font-size: 60px ;
        height: auto;

    }
    .haditha{
        font-size: 35px;
        /* transform: translate(-50%, -50%) */
    }
    .note,.notice{
        font-size: 35px;
    }
}




@media only screen and (max-width: 2560px) {
    .hadith_heading{
        font-size: 55px ;
        height: auto;

    }
    .haditha{
        font-size: 30px;
        /* transform: translate(-52%, -59%) */
    }
    .note,.notice{
        font-size: 19px;
    }
    


}

@media only screen and (max-width: 2200px) {
    .hadith_heading{
        font-size: 50px ;

    }
    .haditha{
        font-size: 25px;
        /* transform: translate(-50%, -35%) */
    }


}






@media only screen and (max-width: 1900px) {
    .hadith_heading{
        font-size: 45px ;

    }
    .haditha{
        font-size: 25px;
        /* transform: translate(-50%, -35%) */
    }
    .lamp{
        left: 35%;
    }


}


@media only screen and (max-width :1500px){
    .hadith_heading{
        font-size: 41px ;
        }
    .haditha{
        font-size: 25px;
        /* transform: translate(-50%, -35%) */
    }
}

/* screen size less than 1440 px */

@media only screen and (max-width: 1440px) {
    .text{
        font-size: 18px;
        margin: 20px;
    }
    .haditha{
        font-size: 20px;
    }
    .prayer-time p{
        font-size: 15px;
    }
    .prayer-time span{
        font-size: 15px;
    }

    .note{
        font-size: 10px;
    }
    .neon-border p{
        font-size: 15px;
        min-width: none;
    }
    .note span{
        font-size: 20px;
    }
    .notice{
        font-size: 18px;
    }
    .lamp{
        left: 30%;
        height: 15%;
    }
    .spacer{
        height: 15% !important;
    }
    .hadith_heading{
        font-size: 22px ;
    }
    .haditha {
        font-size: 14px;

    /* transform: translate(-50%, -50%); */
    }
  }

/* screen size less than 1366 px */

@media only screen and (max-width :1000px){

    
    .hadith_heading{
        font-size: 25px ;
        height: 30px;
        }
    .haditha{
        font-size: 15px;
        /* transform: translate(-50%, -35%) */
    }


}

.wifi{
    position: absolute;
    bottom: 10px;
    right: 20px;
}


@media only  screen and (max-width: 1024px) {
    .haditha{
        width: 100%;
        transform: translate(-53%, 0%);
    }
    .prayer-time{
        margin: 5px;
    }
    .text{
        font-size: 15px;
    }
    .text .greg{
        font-size: 17px;
    }
    text{
        font-size: 20px;
    }
    .sunset-text{
        top:40%;
        margin-top: 300px;
        background-color: red !important;
    }
    .gap{
        height: 5vh !important;
    }
    .lamp{
        left: 27%;
        height: 45%;
    }
    .notice{
        font-size: 15px;
        width: 89%;
        transform: translate(-48%, -50%);
    }
    #notice{
        font-size: 15px;
        text-align: justify;
    }
    .prayer-time p{
        font-size: 18px;
    }
    .prayer-time span{
        font-size: 20px;
    }
    .wifi img{
        height: 50px;
    }
    .neonblue{
        box-shadow: 0 0 7px 7px #13FFF6;
    }
    .neongreen{
        box-shadow: 0 0 7px 7px #29FF70;
    }
}
    
